/* styles.css */

body {
    background-color: #cab9a7; /* Light gray background */
    color: #333; /* Dark gray text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-attachment:fixed;
    background-color:#f2f2f2;
    background-image:url(); // random image from google search
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
  } */
  
  
  h1, h2, p {
    color: #333; /* Dark gray text color */
  }
  
  a {
    color: brown; /* Blue link color */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #welcomePage, #recipeDetails {
    max-width: 800px;
    margin: 0 auto;
    padding: 100px;
    background-color: #fff; /* White background for main content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
  }
  
  #recipeButtons {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff; /* White background for recipe buttons */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Light shadow */
    display: none; /* Initially hidden */
  }
  
  #navigationLink {
    display: none; /* Initially hidden */
    position: fixed;
    top: 10px;
    right: 10px;
  } 
}

#recipeForm {
  text-align: center;
}

#recipeForm button {
  margin: 10px auto; /* Adjust the margin as needed */
}

/* #createRecipeFormContainer {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#createRecipeForm label {
    display: block;
    margin-bottom: 5px;
}

#createRecipeForm input,
#createRecipeForm textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#createRecipeForm button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
